.card {
    background-color: rgb(12, 56, 109) !important;
    color: white;
}
.card a {
    color: rgb(212, 154, 212);
}

.project-container {
    margin-top: 10vh;
    max-width: 90vw;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0; */
}

.portfolio-btn {
    background-color: rgb(108, 117, 125) !important;
    border-color: rgb(108, 117, 125) !important;
}